@model OnlineRequestSystem.Models.CloseRequest
@{
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

@if (Model.reqStatus != "DISAPPROVED")
{
    if (Model.isDivManApproval2 == 1)
    {
        <div class="col-md-12">
            <div class="col-md-6">
                @if (mySession.s_isDivisionApprover == 1)
                {
                    if (Model.Sts_Div2_isApproved == "1")
                    {
                        <label>Division Approver's Approval  2 <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_Div2Name
                        <br />
                        <span>Approved Date:</span> @Model.E_Div2Date
                        @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                    else
                    {
                                                <label>Division Approver's Approval  2 <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_Div2Name
                        <br />
                        <span>Approved Date:</span> @Model.E_Div2Date
                        @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                }
                else
                {
                    if (Model.Sts_Div2_isApproved == "1")
                    {
                        <label>Division Approver's Approval  2 <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_Div2Name
                        <br />
                        <span>Approved Date: </span> @Model.E_Div2Date
                        @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Sts_Div2_isApproved, new { @Value = Model.Sts_Div1_isApproved, @style = "display:none;" })
                        <label>Division Approver's Approval  2 </label>
                        <br />
                        <span>Approved by: </span> @Model.E_Div2Name
                        <br />
                        <span>Approved Date: </span> @Model.E_Div2Date
                        @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })

                    }

                }
                <hr style="border-bottom:1px solid #808080" />
            </div>
        </div>
    }
}
else
{
    if (Model.isDivManApproval2 == 1)
    {
        <div class="col-md-12">
            <div class="col-md-6">
                @if (Model.Sts_Div2_isApproved == "1")
                {
                    <label>Division Manager Approval 2 <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                    <br />
                    <span>Approved by: </span> @Model.E_Div2Name
                    <br />
                    <span>Approved Date: </span> @Model.E_Div2Date
                    @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else if (Model.Remarks == Model.E_Div2Remarks)
                {
                    <label>Division Manager Approval 2 <span style="color:red;" class="glyphicon glyphicon-remove"></span></label>
                    <br />
                    <span>Disapproved by: </span> @Model.ClosedBy
                    <br />
                    <span>Disapproved Date: </span> @Model.ClosedDate
                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })

                }
                else
                {
                    <label>Division Manager Approval 2 </label>
                    <br />
                    <span>Approved by: </span>
                    <br />
                    <span>Approved Date: </span>
                    @Html.TextArea("DivApproval", Model.E_Div2Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })

                }
                <hr style="border-bottom:1px solid #808080" />
            </div>
        </div>
    }
}