@model OnlineRequestSystem.Models.CloseRequest
@{
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

@if (Model.reqStatus != "DISAPPROVED")
{
    <div class="col-md-12">
        <div class="col-md-6">
            @if (Model.Sts_DM_isApproved == "1")
            {
                <label>Department Manager Approval &nbsp;<span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                <br />
                <span>Approver: </span> @Model.E_DMName
                <br />
                <span>Date Approved: </span> @Model.E_DMDate
                @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly", @title = "Testing ra" })
            }
            else
            {
                if (Model.Sts_DM_isApproved == "1")
                {
                    <label>Department Manager Approval &nbsp;<span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                    <br />
                    <span>Approved by: </span> @Model.E_DMName
                    <br />
                    <span>Approved Date: </span> @Model.E_DMDate
                    @Html.TextArea("DivApproval", Model.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else
                {
                    <label>Department Manager Approval &nbsp;</label>
                    <br />
                    <span>Approved by: </span> @Model.E_DMName
                    <br />
                    <span>Approved Date: </span> @Model.E_DMDate
                    @Html.TextArea("DivApproval", Model.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
            }
            <hr style="border-bottom:1px solid #808080" />
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="col-md-6">
            @if (Model.Sts_DM_isApproved == "1")
            {
                <label>Department Manager Approval &nbsp;<span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                <br />
                <span>Approved by: </span> @Model.E_DMName
                <br />
                <span>Approved Date: </span> @Model.E_DMDate
                @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
            }
            else if (Model.Remarks == Model.E_DMRemarks)
            {
                @Html.TextBoxFor(m => m.Sts_DM_isApproved, new { @Value = Model.Sts_DM_isApproved, @style = "display:none;" })
                <label>Department Manager Approval &nbsp;<span style="color:red;" class="glyphicon glyphicon-remove"></span></label>
                <br />
                <span>Disapproved by: </span> @Model.ClosedBy
                <br />
                <span>Disapproved Date: </span> @Model.ClosedDate
                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
            }
            else
            {
                <label>Department Manager Approval &nbsp;</label>
                <br />
                <span>Approved by: </span>
                <br />
                <span>Approved Date: </span>
                @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
            }
            <hr style="border-bottom:1px solid #808080" />
        </div>
    </div>
}