@model OnlineRequestSystem.Models.CloseRequest
@{
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

@if (Model.reqStatus != "DISAPPROVED")
{
    if (Model.isGMApproval == 1)
    {
        <div class="col-md-12">
            <div class="col-md-6">
                @if (mySession.s_isVPAssistant == 1)
                {
                    if (Model.Sts_VPAssistant_isApproved == "1")
                    {
                        <label>VP Assistant Approval <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_VPAssistantName
                        <br />
                        <span>Approved Date:</span> @Model.E_VPAssistantDate
                        @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                    else
                    {
                        <label>VP Assistant Approval <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_VPAssistantName
                        <br />
                        <span>Approved Date:</span> @Model.E_VPAssistantDate
                        @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                }
                else
                {
                    if (Model.Sts_VPAssistant_isApproved == "1")
                    {
                        <label>VP Assistant Approval <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                        <br />
                        <span>Approved by: </span> @Model.E_VPAssistantName
                        <br />
                        <span>Approved Date:</span> @Model.E_VPAssistantDate
                        @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Sts_VPAssistant_isApproved, new { @Value = Model.Sts_GM_isApproved, @style = "display:none;" })
                        <label>VP Assistant Approval </label>
                        <br />
                        <span>Approved by: </span> @Model.E_VPAssistantName
                        <br />
                        <span>Approved Date:</span> @Model.E_VPAssistantDate
                        @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                    }
                }
                <hr style="border-bottom:1px solid #808080" />
            </div>
        </div>
    }
}
else
{
    if (Model.isGMApproval == 1)
    {
        <div class="col-md-12">
            <div class="col-md-6">
                @if (Model.Sts_VPAssistant_isApproved == "1")
                {
                    <label>VP Assistant Approval <span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                    <br />
                    <span>Approved by: </span> @Model.E_VPAssistantName
                    <br />
                    <span>Approved Date:</span> @Model.E_VPAssistantDate
                    @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else if (Model.Remarks == Model.E_VPAssistantRemarks)
                {
                    <label>VP Assistant Approval <span style="color:red;" class="glyphicon glyphicon-remove"></span></label>
                    <br />
                    <span>Disapproved by: </span> @Model.ClosedBy
                    <br />
                    <span>Disapproved Date: </span> @Model.ClosedDate
                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else
                {
                    <label>VP Assistant Approval </label>
                    <br />
                    <span>Approved by: </span>
                    <br />
                    <span>Approved Date:</span>
                    @Html.TextArea("VPAssistantApproval", Model.E_VPAssistantRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                <hr style="border-bottom:1px solid #808080" />
            </div>
        </div>
    }
}