<li class="menu-item dropdown">
    <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
        Open Requests&nbsp;<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a onclick="loadClick('Normal')" href="@Url.Action("GMO_BranchRequests", "OpenRequest")"> Branch Requests</a>
        </li>
        <li>
            <a onclick="loadClick('Normal')" href="@Url.Action("GMO_HORequests", "OpenRequest")"> Head Office Requests</a>
        </li>
        <li>
            <a onclick="loadClick('Normal')" href="@Url.Action("LocalRequests", "OpenRequest")"> @Session["DivName"] Requests</a>
        </li>
        <li>
            <a onclick="loadClick('Normal')" href="@Url.Action("MyRequests", "OpenRequest")"> My Requests</a>
        </li>
        <li>
            <a style="color:black;" onclick="loadClick('Normal')" href="@Url.Action("CashRequest", "Request")">Cash Request</a>
        </li>
    </ul>
</li>

<li class="menu-item dropdown">
    <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
        PO Requests&nbsp;<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a onclick="loadClick('PO')" href="@Url.Action("GMO_BranchPORequests", "OpenRequest")"> Branch Requests</a>
        </li>
        <li>
            <a onclick="loadClick('PO')" href="@Url.Action("GMO_HOPORequests", "OpenRequest")"> Head Office Requests</a>
        </li>
        <li>
            <a onclick="loadClick('PO')" href="@Url.Action("LocalPORequests", "OpenRequest")"> @Session["DivName"] Requests</a>
        </li>
        <li>
            <a onclick="loadClick('PO')" href="@Url.Action("MyPORequests", "OpenRequest")"> My Requests</a>
        </li>
    </ul>
</li>