@model OnlineRequestSystem.Models.VPassistantInfo
@{
    ViewBag.Title = "VP";
}

<br />
<div class="jumbotron boxShadow">
    <div class=" panel-heading" style="background-color:#d7002b;color:white;">
        <b class="orHeader"><span>VP ASSISTANT - APPROVER</span></b>
    </div>
    <div style="padding-top:7px;"></div>
    <table class="table_data table-hover" id="VPAssistant" cellspacing="0">
        <thead>
            <tr>
                <th class="col-md-1"><center>Select</center></th>
                <th class="col-md-2">VP Assistant</th>
                <th class="col-md-3">Division</th>
                <th class="col-md-3">Zonecode</th>
                <th class="col-md-3">User ID</th>
                <th style="display:none;">&nbsp;</th>
            </tr>
        </thead>
        <tbody style="font-size:12px;">
            @foreach (var item in Model._info)
            {
                <tr class="cellspacer">
                    <td class="col-md-1"><button type="button" class="qabutton Update btn btn-sm btn-danger" data-toggle="modal" data-value="@item.vp_id" data-target="#_UpdateModal">Update</button></td>
                    <td class="col-md-3" id="u1_@item.vp_id">@item.VPAssistant</td>
                    <td id="u2_@item.vp_id">@item.Division</td>
                    <td id="u3_@item.vp_id">@item.Zonecode</td>
                    <td id="u4_@item.vp_id">@item.UserID</td>
                    <td style="display:none;" id="u5_@item.vp_id">@item.vp_id</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using (Ajax.BeginForm("UpdateVPAssistant", "MMD", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "onCreateBegin", OnSuccess = "onCreateSuccess", OnFailure = "onCreateFail" }, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="_UpdateModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content jumbotron">
                <div class="modal-header ORSHeading">
                    <b class="orHeader"><span>UPDATE VP ASSISTANT</span></b>
                </div>
                <div class="modal-body">
                    <table class="table borderless">
                        <tbody>
                            <tr>
                                @Html.TextBoxFor(m => m.vp_id, new { @style = "display:none;" })
                                <td>VP Assistant</td>
                                <td>
                                    @Html.TextBoxFor(m => m.VPAssistant, new { @id = "assistantName", @class = "form-control", maxlength = 50, @required = "required" })
                                </td>
                            </tr>
                            <tr>
                                <td>Division</td>
                                <td>@Html.TextBoxFor(x => x.Division, new { @required = "required", @class = "form-control", @onkeypress = "AlphaNumeric()", maxlength = 20 })</td>
                            </tr>
                            <tr>
                                <td>Zone Code:</td>
                                <td>@Html.TextBoxFor(x => x.Zonecode, new { @required = "required", @class = "form-control", @onkeypress = "AlphaNumeric()", maxlength = 80 })</td>
                            </tr>
                            <tr>
                                <td>User ID</td>
                                <td>
                                    @Html.TextBoxFor(m => m.UserID, new { @class = "form-control", @required = "required" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sub" class="qabutton btn btn-sm btn-danger orHeader">Update</button>
                    <button class="qabutton  btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section tableCss{
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/table/dataTables.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/HDScripts/VPAssistant.js"></script>

    <script>
        var Url = '';
        //var Url = '/OnlineRequestSystem';

        $(document).ready(function () {
            $('#VPAssistant').DataTable({
                "order": [[0, "desc"]], "bPaginate": false, "bSort": false
            });
        });
    </script>
}