@model OnlineRequestSystem.Models.OpenReqInfo
@{
    ViewBag.Title = "ViewOpenRequest";
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}
<div style="padding-top:7px;"></div>
<table class="table-hover table_data" id="RMOpen">
    <thead>
        <tr>
            <th><center>Select</center></th>
            <th class="col-sm-1"><center>Date</center></th>
            <th class="col-sm-2"><center>Request no.</center></th>
            <th class="col-sm-3"><center>Types</center></th>
            <th class="col-sm-1">Count</th>
            <th class="col-sm-2">Branch/Division</th>
            <th class="col-sm-2">Author</th>
            <th class="col-sm-2">Region</th>
        </tr>
    </thead>
    <tbody style="font-size:12px;">
        @if (Model._OpenInfo != null)
        {
            foreach (var item in Model._OpenInfo)
            {
                <tr class="cellspacer">
                    <td style="padding-left:10px;"><button class="btn btn-sm btn-warning btnPending" onclick="location.href='@Url.Action("PendingDetails", "Pending", new { ReqNo = item.reqNumber , BranchCode = item.BranchCode , ZoneCode = @item.ZoneCode , Region = @item.Region })'">Show Details</button></td>
                    <td style="padding-left:20px;"><center>@item.reqDate</center></td>
                    <td style="padding-left:20px;">@item.reqNumber</td>
                    <td style="padding-left:25px;">@item.TypeName</td>
                    <td style="padding-left:20px;">@item.TotalItems</td>
                    <td style="padding-left:10px;">@item.BranchName</td>
                    <td>@item.reqCreator</td>
                    <td>
                        @item.Region
                        <span style="display:none;">@item.BranchCode</span>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>