@model OnlineRequestSystem.Models.OpenReqInfo
@{
    ViewBag.Title = "ViewOpenRequest";
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}
<div style="padding-top:7px;"></div>

@{Html.RenderPartial("~/Views/OpenRequest/OpenReqPartials/Sorting.cshtml");}

<table class="requests table-hover table_data" id="PresidentOpen" cellspacing="0">
    <thead>
        <tr>
            <th class="checkAll"><input type="checkbox" class="checkAll thChkbox"></th>
            <th class="col-sm-2"><center>Select</center></th>
            <th class="col-sm-2"><center style="width:130%">Date Created</center></th>
            <th class="col-sm-2"><center>Request no.</center></th>
            <th class="col-sm-2"><center>Types</center></th>
            <th class="col-sm-2"><center>Count</center></th>
            <th class="col-sm-1"><center>Price</center></th>
            <th class="col-sm-2" style="width:10%"><center>Description</center></th>
            <th class="col-sm-2"><center>Branch/Division</center></th>
            <th class="col-sm-2"><center>Author</center></th>
            <th class="col-sm-3"><center>Region</center></th>
            <th class="col-sm-2"><center>Post</center></th>
        </tr>
    </thead>
    <tbody style="font-size:12px;">
        @if (Model._OpenInfo != null)
        {
            foreach (var item in Model._OpenInfo)
            {
                if (item.reqStatus == "OPEN")
                {
                    if (item.isDivRequest == "0")
                    {
                        if (item.reqAM == item.isApprovedAM && item.reqRM == item.isApprovedRM &&
                        item.reqDiv1 == item.isApprovedDiv1 && item.reqDiv2 == item.isApprovedDiv2 && item.reqDiv3 == item.isApprovedDiv3 &&
                        item.reqGM == item.isApprovedGM || item.reqCreator == mySession.s_fullname)
                        {
                            if (item.reqPres == 1 && item.isApprovedPres == 0)
                            {
                                <tr class="cellspacer">
                                    @if (item.reqCreator == mySession.s_fullname)
                                    {
                                        <td>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user red"></span></td>
                                    }
                                    else
                                    {
                                        <td><center><input type="checkbox" class="chkBox" /></center></td>
                                    }
                                    @if (item.MMD_Processed == 1)
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    else
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    <td><center>@item.reqDate</center></td>
                                    <td><center>@item.reqNumber</center></td>
                                    <td title="@item.TypeName"><center>@item.TypeName</center></td>
                                    <td><center>@item.TotalItems</center></td>
                                    <td class="reqOverallTotal" style="text-align:center">@item.OverallTotalPrice.ToString()</td>
                                    <td><center>@item.itemDescription.ToString().Substring(0, (item.itemDescription.Length > 16) ? 16 : item.itemDescription.Length)</center></td>
                                    <td><center>@item.BranchName</center></td>
                                    <td><center>@item.reqCreator</center></td>
                                    <td>
                                        <center>
                                            @item.Region
                                            <span style="display:none;">@item.BranchCode</span>
                                        </center>
                                    </td>
                                    <td><center><span class="glyphicon glyphicon-comment" style="color:gray"></span></center></td>
                                </tr>
                            }

                            else if (item.VPO_PO_Approved == 1 && item.Pres_PO_Approved == 0 && item.MMD_Processed == 1)
                            {
                                <tr class="cellspacer">
                                    @if (item.reqCreator == mySession.s_fullname)
                                    {
                                        <td>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user red"></span></td>
                                    }
                                    else
                                    {
                                        <td><center><input type="checkbox" class="chkBox" /></center></td>
                                    }

                                    @if (item.MMD_Processed == 1)
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    else
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    <td><center>@item.reqDate</center></td>
                                    <td><center>@item.reqNumber</center></td>
                                    <td title="@item.TypeName"><center>@item.TypeName</center></td>
                                    <td><center>@item.TotalItems</center></td>
                                    <td class="reqOverallTotal" style="text-align:center">@item.OverallTotalPrice.ToString()</td>
                                    <td><center>@item.itemDescription.ToString().Substring(0, (item.itemDescription.Length > 16) ? 16 : item.itemDescription.Length)</center></td>
                                    <td><center>@item.BranchName</center></td>
                                    <td><center>@item.reqCreator</center></td>
                                    <td>
                                        <center>
                                            @item.Region
                                            <span style="display:none;">@item.BranchCode</span>
                                        </center>
                                    </td>
                                    <td><center><span class="glyphicon glyphicon-comment" style="color:gray"></span></center></td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        if (item.isApprovedLocalDiv == 1 && item.isApprovedDM == 1 && item.reqDiv1 == item.isApprovedDiv1
                            && item.reqDiv2 == item.isApprovedDiv2 && item.reqDiv3 == item.isApprovedDiv3
                            || item.reqCreator == mySession.s_fullname)
                        {
                            if (item.reqPres == 1 && item.isApprovedPres == 0 || item.reqCreator == mySession.s_fullname)
                            {
                                <tr class="cellspacer">
                                    @if (item.reqCreator == mySession.s_fullname)
                                    {
                                        <td>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user red"></span></td>
                                    }
                                    else
                                    {
                                        <td><center><input type="checkbox" class="chkBox" /></center></td>
                                    }
                                    @if (item.MMD_Processed == 1)
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    else
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    <td><center>@item.reqDate</center></td>
                                    <td><center>@item.reqNumber</center></td>
                                    <td title="@item.TypeName"><center>@item.TypeName</center></td>
                                    <td><center>@item.TotalItems</center></td>
                                    <td class="reqOverallTotal" style="text-align:center">@item.OverallTotalPrice.ToString()</td>
                                    <td><center>@item.itemDescription.ToString().Substring(0, (item.itemDescription.Length > 16) ? 16 : item.itemDescription.Length)</center></td>
                                    <td><center>@item.BranchName</center></td>
                                    <td><center>@item.reqCreator</center></td>
                                    <td>
                                        <center>
                                            @item.Region
                                            <span style="display:none;">@item.BranchCode</span>
                                        </center>
                                    </td>
                                    <td><center><span class="glyphicon glyphicon-comment" style="color:gray"></span></center></td>
                                </tr>
                            }
                            else if (item.forPresident == "1" && item.isApprovedPres == 0)
                            {
                                <tr class="cellspacer">
                                    @if (item.reqCreator == mySession.s_fullname)
                                    {
                                        <td>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user red"></span></td>
                                    }
                                    else
                                    {
                                        <td><center><input type="checkbox" class="chkBox" /></center></td>
                                    }
                                    @if (item.MMD_Processed == 1)
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    else
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    <td><center>@item.reqDate</center></td>
                                    <td><center>@item.reqNumber</center></td>
                                    <td title="@item.TypeName"><center>@item.TypeName</center></td>
                                    <td><center>@item.TotalItems</center></td>
                                    <td class="reqOverallTotal" style="text-align:center">@item.OverallTotalPrice.ToString()</td>
                                    <td><center>@item.itemDescription.ToString().Substring(0, (item.itemDescription.Length > 16) ? 16 : item.itemDescription.Length)</center></td>
                                    <td><center>@item.BranchName</center></td>
                                    <td><center>@item.reqCreator</center></td>
                                    <td>
                                        <center>
                                            @item.Region
                                            <span style="display:none;">@item.BranchCode</span>
                                        </center>
                                    </td>
                                    <td><center><span class="glyphicon glyphicon-comment" style="color:gray"></span></center></td>
                                </tr>
                            }

                            else if (item.VPO_PO_Approved == 1 && item.Pres_PO_Approved == 0 && item.MMD_Processed == 1)
                            {
                                <tr class="cellspacer">
                                    @if (item.reqCreator == mySession.s_fullname)
                                    {
                                        <td>&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user red"></span></td>
                                    }
                                    else
                                    {
                                        <td><center><input type="checkbox" class="chkBox" /></center></td>
                                    }

                                    @if (item.MMD_Processed == 1)
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-warning" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    else
                                    {
                                        <td style="padding-left:10px;"><button class="btn btn-sm btn-danger" onclick="location.href='@Url.Action("RequestDetails", "OpenRequest", new { ReqNo = item.reqNumber, BranchCode = item.BranchCode, ZoneCode = @item.ZoneCode, Region = @item.Region, retUrl = Model.returnUrl })'">Show Details</button></td>
                                    }
                                    <td><center>@item.reqDate</center></td>
                                    <td><center>@item.reqNumber</center></td>
                                    <td title="@item.TypeName"><center>@item.TypeName</center></td>
                                    <td><center>@item.TotalItems</center></td>
                                    <td class="reqOverallTotal" style="text-align:center">@item.OverallTotalPrice.ToString()</td>
                                    <td><center>@item.itemDescription.ToString().Substring(0, (item.itemDescription.Length > 16) ? 16 : item.itemDescription.Length)</center></td>
                                    <td><center>@item.BranchName</center></td>
                                    <td><center>@item.reqCreator</center></td>
                                    <td>
                                        <center>
                                            @item.Region
                                            <span style="display:none;">@item.BranchCode</span>
                                        </center>
                                    </td>
                                    <td><center><span class="glyphicon glyphicon-comment" style="color:gray"></span></center></td>
                                </tr>
                            }
                        }

                    }
                }
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>&nbsp;</th>
            <th class="col-sm-1">&nbsp;</th>
            <th class="col-sm-1">&nbsp;</th>
            <th class="col-sm-2">&nbsp;</th>
            <th class="col-sm-2">&nbsp;</th>
            <th style="font-size:16px"><center>Total:</center></th>
            <th class="col-sm-1"></th>
            <th class="col-sm-1" style="width:10%">&nbsp;</th>
            <th class="col-sm-2">&nbsp;</th>
            <th class="col-sm-2">&nbsp;</th>
            <th class="col-sm-3">&nbsp;</th>
            <th class="col-sm-1">&nbsp;</th>
    </tfoot>
</table>
<input id="approver" type="text" value="Pres" hidden />
<button class="btn btn-sm btn-success orHeader" id="Pres_mApprove"><i class="fa fa-check"></i> &nbsp;Approve</button>
<button class="btn btn-sm btn-danger orHeader" id="btnMultiDisapprove"><i class="fa fa-times"></i> &nbsp;Disapprove</button>