<!DOCTYPE html>
<html>
<head>
    <!--

                                                                            ¶¶ ¶¶¶¶¶¶¶¶¶¶  ¶¶¶¶¶¶¶¶¶¶ ¶¶
                                                                          ¶¶¶¶¶ ¶¶¶¶¶¶¶¶ ¶¶ ¶¶¶¶¶¶¶¶ ¶¶¶¶¶
                                                                        ¶¶¶¶¶¶¶¶ ¶¶¶¶¶¶ ¶¶¶¶ ¶¶¶¶¶¶ ¶¶¶¶¶¶¶¶
                                                                     ¶¶¶¶¶¶¶¶¶¶¶¶ ¶¶¶¶ ¶¶¶¶¶¶ ¶¶¶¶ ¶¶¶¶¶¶¶¶¶¶¶¶
                                                                   ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ ¶¶ ¶¶¶¶¶¶¶¶ ¶¶ ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                 ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶  ¶¶¶¶¶¶¶¶¶¶  ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                             MLHUILLIER FINANCIAL SERVICES
                                                                ¶¶¶¶¶¶¶¶¶¶¶     ¶¶¶¶¶¶¶   ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                  ¶¶¶¶¶¶¶¶      ¶¶¶¶¶¶    ¶¶  ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                   ¶¶¶¶¶        ¶¶¶¶      ¶    ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                     ¶¶    ¶¶   ¶¶¶       ¶     ¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶
                                                                          ¶¶¶   ¶     ¶   ¶      ¶¶¶¶¶ ¶¶¶¶¶¶
                                                                         ¶¶¶¶        ¶¶   ¶¶      ¶¶    ¶¶¶¶
                                                                          ¶¶¶       ¶¶¶   ¶¶¶            ¶
                                                                           ¶¶      ¶¶¶¶   ¶¶¶¶         ¶
                                                                                  ¶¶¶¶¶   ¶¶¶¶¶¶     ¶¶
                                                                                ¶¶¶¶¶¶¶   ¶¶¶¶¶¶¶  ¶¶
                                                                                 ¶¶¶¶¶¶   ¶¶¶¶¶¶¶¶¶¶
                                                                                  ¶¶¶¶¶   ¶¶¶¶¶¶¶¶¶
                                                                                   ¶¶¶¶   ¶¶¶¶¶¶¶
                                                                                     ¶¶   ¶¶¶¶¶¶
                                                                                      ¶   ¶¶¶¶
                                                                                          ¶¶¶
                                                                                          ¶¶
                                                                                          ¶

    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Request - MMD</title>
    <link rel="icon" href="~/Content/images/Diamante.png">
    @Styles.Render("~/Content/css")
    <meta name="description" content="Mlhuillier - Online Request System is a web-based system where MMD requests are automated via web portal." />
    <script type="text/javascript">
        var Url = '@Request.ApplicationPath';
        if (Url == '/OnlineRequestSystem') {
            Url = '/OnlineRequestSystem/';
        } else {
            Url = "";
        }
    </script>

</head>

@{
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}
<body>
    <div class="navbar navbar-default navbar-fixed-top headBoxshadow">
        <div style="padding:0 50px 0 50px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("ViewOpenRequest", "OpenRequest")">
                    <img src="~/Content/images/Diamante.png" style="height:40px;margin-top:5px;padding-right:20px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a style="color:black;" onclick="loadClick('Normal')" href="@Url.Action("RequestFormView", "Request")">Request</a>
                    </li>

                    <li class="menu-item dropdown">
                        <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
                            Open Requests&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="loadClick('Normal')" href="@Url.Action("MMD_BranchRequests", "OpenRequest")"> Branch Requests</a>
                            </li>
                            <li>
                                <a onclick="loadClick('Normal')" href="@Url.Action("MMD_HORequests", "OpenRequest")"> Head Office Requests</a>
                            </li>

                            @if (mySession.s_isDivisionApprover == 1 || mySession.s_isDepartmentApprover == 1)
                            {
                                <li>
                                    <a onclick="loadClick('Normal')" href="@Url.Action("LocalRequests", "OpenRequest")"> @Session["DivName"] Requests</a>
                                </li>
                            }
                            <li>
                                <a onclick="loadClick('Normal')" href="@Url.Action("MyRequests", "OpenRequest")"> My Requests</a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item dropdown">
                        <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
                            PO Requests&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="loadClick('PO')" href="@Url.Action("MMD_Branch_PORequests", "OpenRequest")"> Branch Requests</a>
                            </li>
                            <li>
                                <a onclick="loadClick('PO')" href="@Url.Action("MMD_HO_PORequests", "OpenRequest")"> Head Office Requests</a>
                            </li>

                            @if (mySession.s_isDivisionApprover == 1 || mySession.s_isDepartmentApprover == 1)
                            {
                                <li>
                                    <a onclick="loadClick('PO')" href="@Url.Action("LocalPORequests", "OpenRequest")"> @Session["DivName"] Requests</a>
                                </li>
                            }
                            <li>
                                <a onclick="loadClick('PO')" href="@Url.Action("MyPORequests", "OpenRequest")"> My Requests</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a style="color:black;" onclick="loadClick('Pending')" href="@Url.Action("PendingRequests", "Pending")">Pending Requests</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
                            Closed Requests&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="loadClick('Close')" href="@Url.Action("ViewCloseRequest", "CloseRequest", new { c = "CLOSED" })">Closed Requests</a>
                            </li>
                            <li>
                                <a onclick="loadClick('Disapprove')" href="@Url.Action("ViewCloseRequest", "CloseRequest", new { c = "DISAPPROVED" })">Disapproved Requests</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
                            Approvers&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="loadClick('Division')" href="@Url.Action("Division", "MMD")">Division Managers</a>
                            </li>
                            <li>
                                <a onclick="loadClick('Department')" href="@Url.Action("Department", "MMD")">Department Managers</a>
                            </li>
                            <li>
                                <a onclick="loadClick('VP')" href="@Url.Action("VPAssistant", "MMD")">VP Assistant</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a style="color:black;" onclick="loadClick('SDC')" href="@Url.Action("SDC", "SDC")">SDC</a>
                    </li>
                    <li>
                        <a style="color:black;" onclick="loadClick('Normal')" href="@Url.Action("RequestType", "MMD")">Request Types</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="#" style="color:black;" class="dropdown-toggle" data-toggle="dropdown">
                            Reports&nbsp;<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a onclick="loadClick('Normal')" href="@Url.Action("ReportsMenu", "Reports", new { type = "daily" })"><i class="fa fa-list-alt"></i> &nbsp;Daily Report</a>
                            </li>
                            <li>
                                <a onclick="loadClick('Normal')" href="@Url.Action("ReportsMenu", "Reports", new { type = "monthly" })"><i class="fa fa-list-alt"></i> &nbsp;Monthly Report</a>
                            </li>
                            @if (Convert.ToInt32(Session["Allowed"]) == 1)
                            {
                                <li>
                                    <a target="_blank" href="@Session["ReportUrl"]"><i class="fa fa-bar-chart"></i> &nbsp;Graphical Report</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav"></ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <footer data-role="footer" data-position="fixed" class="navbar-fixed-bottom" style="z-index: -1;">
            <div style="font-size:10px;height:15px;">
                <center><p>M.LHUILLIER FINANCIAL SERVICES, INC.</p></center>
            </div>
        </footer>
    </div>

    @{ Html.RenderPartial("~/Views/Shared/_Loader.cshtml");}

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/SourceNotAllowed.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("tableCss", required: false)
    <script src="~/Scripts/Loaders/loaders.js"></script>
</body>
</html>