@model OnlineRequestSystem.Models.DivisionInfo
@{
    ViewBag.Title = "Division";
}

<br />
<div class="jumbotron boxShadow">
    <div class="panel-heading orHeader" style="background-color:#d7002b;color:white;">
        <b><span>DIVISION - APPROVER</span></b>
        <span>
            @Html.ActionLink("+ Create Division", "#", null, new { @data_toggle = "modal", @data_target = "#_AddDivision", @class = "pull-right", @style = "color:white;" })
        </span>
    </div>
    <div style="padding-top:7px;"></div>
    <table class="table-hover table_data" id="DivisionView" cellspacing="0">
        <thead>
            <tr>
                <th>Select</th>
                <th class="col-md-3">Division</th>
                <th class="col-md-2">Acro</th>
                <th class="col-md-3">Division Manager</th>
                <th class="col-md-2">User ID</th>
                <th class="col-md-2">Zone</th>
                <th style="display:none">Division ID</th>
                <th style="display:none">Division Code</th>
            </tr>
        </thead>
        <tbody style="font-size:12px;">
            @foreach (var item in Model._info)
            {
                <tr class="cellspacer">
                    <td><button type="button" class="qabutton Update btn btn-sm btn-danger" data-toggle="modal" data-value="@item.DivisionID" data-target="#_UpdateModal">Update</button></td>
                    <td class="col-md-3" id="u3_@item.DivisionID">@item.DivisionName.ToUpper()</td>
                    <td class="col-md-1" id="u2_@item.DivisionID">@item.DivisionAcro</td>

                    <td id="u5_@item.DivisionID">@item.DivisionManager</td>
                    <td id="u6_@item.DivisionID">@item.ApproverResID</td>
                    <td class="col-md-2" id="u4_@item.DivisionID">@item.ZoneCode</td>
                    <td style="display:none;" id="u1_@item.DivisionID">@item.DivisionID</td>
                    <td style="display:none;" id="u7_@item.DivisionID">@item.DivisionCode</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@using (Ajax.BeginForm("UpdateDivision", "MMD", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "onCreateBegin", OnSuccess = "onCreateSuccess", OnFailure = "onCreateFail" }, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="_UpdateModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content jumbotron">
                <div class="modal-header ORSHeading orHeader">
                    <b><span>DIVISION APPROVER UPDATE</span></b>
                </div>
                <div class="modal-body">
                    <table class="table borderless">
                        <thead>
                            <tr>
                                <td>@Html.TextBoxFor(x => x.DivisionID, new { @style = "display:none;" })</td>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(x => x.DivisionCode, new { @style = "display:none;", @id = "updateDivisionCode" })</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Division Name:</td>
                                <td>
                                    @Html.TextBoxFor(m => m.DivisionName, new { @class = "form-control", @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr>
                                <td>Division Acro:</td>
                                <td>@Html.TextBoxFor(x => x.DivisionAcro, new { @required = "required", @class = "form-control", @onkeypress = "AlphaNumeric()", maxlength = 3, @readonly = "readonly" })</td>
                            </tr>
                            <tr>
                                <td>Zone Code:</td>
                                <td>@Html.TextBoxFor(x => x.ZoneCode, new { @required = "required", @class = "form-control", @onkeypress = "AlphaNumeric()", maxlength = 80, @readonly = "readonly" })</td>
                            </tr>
                            <tr>
                                <td>Divison Manager</td>
                                <td>
                                    @Html.TextBoxFor(m => m.DivisionManager, new { @class = "form-control"})
                                </td>
                            </tr>
                            <tr>
                                <td>Approver's IRWeb User ID</td>
                                <td>@Html.TextBoxFor(x => x.ApproverResID, new { @required = "required", @class = "form-control", @onkeypress = "AlphaNumeric()", maxlength = 20, @id = "updateApproverResID" }) @Html.ValidationMessageFor(x => x.ApproverResID) </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sub" class="qabutton btn btn-sm btn-danger orHeader">Update</button>
                    <button class="qabutton btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_AddDivision")

@section tableCss{
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/table/dataTables.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript" src="~/Scripts/HDScripts/Division.js"></script>

    <script>      

        $(document).ready(function () {
            $('#DivisionView').DataTable({
                "order": [[0, "desc"]], "bPaginate": false, "bSort": false
            });
        });

        $('#SubmitNewDivision').on('click', function () {
            if ($('#c_resID').val().trim() === "" || $('#c_resID').val().trim() == null)
            {
                bootbox.alert("Please input Resource ID");
                return false;
            }
        });

        $('#dpDivision').on('change', function () {
            var divName = $('#dpDivision :selected').val();
            if (divName == "") {
                $('#c_divAcro').val('');
                $('#c_zcode').val('');
                $('#c_divMgr').val('');
                $('#ApproverResID').val('');
                return false;
            }
            $.ajax({
                type: "POST",
                url: Url + '/MMD/DivisionDetails',
                data: { divName: divName },
                success: function (result) {
                    if (result.status === true) {
                        var dialog = bootbox.dialog({
                            message: '<p class="text-center">Loading data...</p>',
                            closeButton: false
                        });
                        $('#c_DivisionID').val(result.divID);
                        $('#c_divAcro').val(result.divacroo);
                        $('#c_zcode').val(result.zonecode);
                        $('#c_divMgr').val(result.divmanager);
                        $('#c_resID').val(result.resourceID);
                        dialog.modal('hide');
                    } else {
                        bootbox.alert('Unable to Process Request. Pls call Dev');
                    }
                },
                error: function () {
                    bootbox.alert('Unable to Process Request. Pls call Dev');
                },
            });
        });

        $('#upDivision').on('change', function () {
            var divName = $('#upDivision :selected').val();
            if (divName == "") {
                $('#DivisionAcro').val('');
                $('#ZoneCode').val('');
                $('#DivisionManager').val('');
                return false;
            }
            $.ajax({
                type: "POST",
                url: Url + '/MMD/DivisionDetails',
                data: { divName: divName },
                success: function (result) {
                    if (result.status === true) {
                        var dialog = bootbox.dialog({
                            message: '<p class="text-center">Loading data...</p>',
                            closeButton: false
                        });
                        $('#DivisionAcro').val(result.divacroo);
                        $('#ZoneCode').val(result.zonecode);
                        $('#DivisionManager').val(result.divmanager);
                        $('#ApproverResID').val(result.resourceID);
                        dialog.modal('hide');
                    } else {
                        bootbox.alert('Unable to Process Request. Pls call Dev');
                    }
                },
                error: function () {
                    bootbox.alert('Unable to Process Request. Pls call Dev');
                },
            });
        });
    </script>
}