@model OnlineRequestSystem.Models.CreateReqModels
@{
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

@if (Model.isDMApproval == 1)
{
    <div class="col-md-12">
        <div class="col-md-6">
            @if (mySession.s_isDepartmentApprover == 1)
            {
                if (Model.Sts_DM_isApproved == "1")
                {
                    <label>Department Manager Approval&nbsp;&nbsp;<span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                    <br />
                    <span>Approver: </span> @Model.E_DMName
                    <br />
                    <span>Date Approved: </span> @Model.E_DMDate
                    @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.Approver, new { @Value = "DM", @style = "display:none;" })
                    @Html.TextBoxFor(m => m.E_DMName, new { @Value = mySession.s_fullname, @style = "display:none;" })
                    @Html.TextBoxFor(m => m.Sts_DM_isApproved, new { @Value = "1", @style = "display:none;" })
                    <label>Department Manager Approval<b style="color:red;"> *</b></label>
                    @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @required = "required", @placeholder = "Please Provide Remarks.." })
                    <br />
                    <center>
                        @Html.TextBoxFor(m => m.E_DMDate, new { @Value = DateTime.Now.ToString(), @style = "display:none;" })
                        <button class="btn btn-sm btn-success" type="submit" value="1" name="Status"><span></span>Approve Request</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        <button class="btn btn-sm btn-danger" type="submit" value="0" name="Status"><span></span>Disapprove Request</button>
                    </center>
                }
            }
            else
            {
                if (Model.Sts_DM_isApproved == "1")
                {
                    <label>Department Manager Approval&nbsp;&nbsp;<span style="color:green;" class="glyphicon glyphicon-check"></span></label>
                    <br />
                    <span>Approved by: </span> @Model.E_DMName
                    <br />
                    <span>Approved Date: </span> @Model.E_DMDate
                    @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.Sts_DM_isApproved, new { @Value = Model.Sts_AM_isApproved, @style = "display:none;" })
                    <label>Department Manager Approval</label>
                    <br />
                    <span>Approved by: </span> @Model.E_DMName
                    <br />
                    <span>Approved Date: </span> @Model.E_DMDate
                    @Html.TextAreaFor(m => m.E_DMRemarks, new { @class = "form-control", @rows = "3", @style = "resize:none;max-width:inherit;", @readonly = "readonly" })
                }

            }
            <hr style="border-bottom:1px solid #808080" />
        </div>
    </div>
}