@using OnlineRequestSystem.Models
@model OnlineRequestSystem.Models.CreateReqModels
@{
    ViewBag.Title = "RequestFormView";
    var mySession = (ORSession)Session["UserSession"];
    int i = 0;
}

<br />
@using (Ajax.BeginForm("CreateRequest", "Request",
    new AjaxOptions { HttpMethod = "POST", OnBegin = "onCreateBegin", OnSuccess = "onCreateSuccess", OnFailure = "onCreateFail" },
    new { @class = "form-horizontal" }))
{
    <div class="jumbotron col-md-12 boxShadow" style="padding-right: 0px; padding-left: 0px">
        <div class="panel-heading ORSHeading">
            <b class="orHeader"><span>CREATE REQUEST</span>&nbsp;</b>
        </div>
        <br />

        <div class="container">
            <div class="col-md-3">
                <label>Author</label>
                @Html.TextBoxFor(m => m.Author, new { @Value = mySession.s_fullname, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;", @id = "reqCreator" })
                <label>Job title</label>
                @Html.TextBoxFor(m => m.Jobtitle, new { @Value = mySession.s_job_title, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
            </div>
            <div class="col-md-3">
                <label>Branch</label>
                @Html.TextBoxFor(m => m.Bednrm, new { @Value = mySession.s_bedrnm, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
                @if (mySession.s_comp == "001" || mySession.s_comp == "002")
                {
                    <label>Division</label>
                    @Html.TextBoxFor(m => m.Division, new { @Value = mySession.s_Division, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
                }
                else
                {
                    <label>Area</label>
                    @Html.TextBoxFor(m => m.Area, new { @Value = mySession.s_area, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
                }
            </div>
            <div class="col-md-3">
                <label>Region</label>
                @Html.TextBoxFor(m => m.Region, new { @Value = mySession.s_region, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
                <label>Zonecode</label>
                @Html.TextBoxFor(m => m.ZoneCode, new { @Value = mySession.s_zonecode, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
            </div>
            <div class="col-md-3">
                <label>Request no</label>
                @Html.TextBoxFor(m => m.RequestNo, new { @Value = ViewBag.RequestNo, @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })
                <label>Date</label>
                <input class="form-control" style="cursor:no-drop;" readonly value="@DateTime.Now.ToLongDateString()" />
                <label hidden>@Html.TextBoxFor(m => m.ReqDate, new { @Value = DateTime.Now.ToString("yyyy-MM-dd"), @class = "form-control", @readonly = "readonly", @style = "cursor:no-drop;" })</label>
            </div>
        </div>

        <div class="container" style="padding-top:15px;padding-bottom:8px">
            <div class="pull-left col-md-3">
                <label>Request type:</label>
                @Html.DropDownListFor(m => m.RequestType, Model.ListReqtype, "Select type", new { @class = "form-control selectRT", @required = "required", @width = "2000" })
            </div>
            <div class="col-md-3">
                <div id="diagnostic" hidden>
                    <label>Diagnostic:</label><br />
                    <input class="btn btn-sm btn-primary" type="file" name="DiagnosticFile" id="DiagnosticFile" accept="application/pdf" />
                    <input id="base64Str" name="base64Str" hidden />
                </div>
            </div>

            <div class="col-md-6">
                <div class="pull-right">
                    <br />
                    <br />
                    <a href="#" class="btn btn-sm btn-danger orHeader" id="insert-more"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add Item</a>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered table-condensed" id="myTable">
                <thead>
                    <tr class="ORSHeading orHeader">
                        <th style="width:3%"></th>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-1">Qty</th>
                        <th class="col-md-3">Unit</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="TR0">
                        <td style="text-align:center; vertical-align:middle"><span id="reqCount0" class="itemCount">1</span></td>
                        <td class="col-md-6">
                            @Html.TextBoxFor(m => m.ReqItems[i].ItemDescription, new { @style = "max-width:inherit;", @id = "reqName0", @type = "text", @class = "form-control itemDes", @placeholder = "Enter Item Name", @autocomplete = "off" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(m => m.ReqItems[i].ItemQty, new { @style = "max-width:inherit;", @id = "reqQty0", @class = "form-control UnitQty", @placeholder = "0", @maxlength = "6", @onkeypress = "AlphaNumeric()", @autocomplete = "off" })
                        </td>
                        <td class="col-md-3">
                            @Html.DropDownListFor(m => m.ReqItems[i].ItemUnit, Model.ListRequestUnits, "Select Unit", new { @id = "reqUnit0", @class = "form-control itemUnit", @required = "required" })
                        </td>
                        <td>
                            <center><i id="removeRow" class="btn btn-sm btn-warning">Remove</i></center>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-12">
                <hr style="border-top:1px solid #808080" />
                <label>Purpose:</label>
                @Html.TextAreaFor(m => m.Description, new { @id = "requestDescription", @class = "form-control RequestDescription", @rows = "3", @style = "resize:none;max-width:inherit;", @required = "required", @placeholder = "Please Provide Description...", @autocomplete = "off" })
                <br />
                <center>
                    <br />
                    <button type="submit" id="SubmitButton" class="qabutton btn btn-danger orHeader"><span class="glyphicon glyphicon-send"></span>&nbsp; Submit Request</button>
                </center>
                <hr style="border-top:1px solid #808080" />
                <br />
                <br />
            </div>
        </div>
        @Html.TextBoxFor(m => m.BranchCode, new { @Value = mySession.s_comp, @style = "display:none;" })
        @Html.TextBoxFor(m => m.DivisionCode, new { @Value = mySession.s_DivCode, @style = "display:none;" })
        @Html.TextBoxFor(m => m.AreaCode, new { @Value = mySession.s_areaCode, @style = "display:none;" })

        @if (!(new[] { "001", "002" }).Contains(mySession.s_comp))
        {
            <div class="form-group col-md-12">
                <div class="col-md-4">
                    <br />
                    <br />
                    <center>
                        @Html.DisplayFor(m => mySession.s_BMName)
                        @Html.TextBoxFor(m => m.BranchManager, new { @Value = mySession.s_BMName, @style = "display:none;" })
                        <br />
                        <label style="border-top:1px solid black;">Name of Branch Manager</label>
                    </center>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <center>
                        @Html.DisplayFor(m => mySession.s_AMName)
                        @Html.TextBoxFor(m => m.AreaManager, new { @Value = mySession.s_AMName, @style = "display:none;" })
                        <br />
                        <label style="border-top:1px solid black;">Name of Area Manager</label>
                    </center>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <center>
                        @Html.DisplayFor(m => mySession.s_RMName)
                        @Html.TextBoxFor(m => m.RegionalManager, new { @Value = mySession.s_RMName, @style = "display:none;" })
                        <br />
                        <label style="border-top:1px solid black;">Name of Regional Manager</label>
                    </center>
                </div>
            </div>
        }
        else
        {
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <br />
                    <br />
                    <center>
                        @Html.DisplayFor(m => mySession.s_DepartManager)
                        @Html.TextBoxFor(m => m.DepartmentManager, new { @Value = mySession.s_DepartManager, @style = "display:none;" })
                        <br />
                        <label style="border-top:1px solid black;">Name of Department Manager / Approver</label>
                    </center>
                </div>
                <div class="col-md-6">
                    <br />
                    <br />
                    <center>
                        @Html.DisplayFor(m => mySession.s_DivManager)
                        @Html.TextBoxFor(m => m.DivisionManager, new { @Value = mySession.s_DivManager, @style = "display:none;" })
                        <br />
                        <label style="border-top:1px solid black;">Name of Division Manager</label>
                    </center>
                </div>
            </div>
        }
        <br />
        <br />
    </div>

}
@section scripts{
    <script>
        var reqCreator = $('#reqCreator').val();

    </script>


    @Scripts.Render("~/bundles/createformview_libraries");

    @Scripts.Render("~/bundles/createformview_methods");

}