@model OnlineRequestSystem.Models.ListOfSDCResponse
@{
    ViewBag.Title = "Satellite Distribution Center";
    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
}

<br />
<div class="jumbotron boxShadow">
    <div class=" panel-heading" style="background-color:#d7002b;color:white;">
        <b class="orHeader"><span>SATELLITE DISTRIBUTION CENTER</span></b>
    </div>
    <table class="table table-hover" id="DivisionView" cellspacing="0">
        <thead>

            @if ((new[] { "0001MMD" }).Contains(mySession.s_costcenter))
            {
                <tr>
                    <th align="left"></th>
                    <th align="center" style="font-size:x-large;font-weight:bolder;">VISAYAS</th>
                    <th align="right"></th>
                </tr>
                <tr>
                    <th>Region</th>
                    <th>Regional Manager</th>
                    <th>Branch Name</th>
                </tr>
                foreach (var item in Model.ListOfSDC)
                {
                    if ((new[] { "VISAYAS" }).Contains(item.ZoneCode))
                    {
                            <tr>
                                <td style="padding:1px;">@item.Region.ToUpper()</td>
                                <td style="padding:1px;width:30%;">@item.RM</td>
                                <td style="padding:1px;width:26%;">@(item.BranchCode.ToUpper() + " - " + item.BranchName.ToUpper())</td>
                            </tr>
                        }
                    }

                <tr>
                    <th></th>
                    <th align="center" style="font-size:x-large;font-weight:bolder;">MINDANAO</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Region</th>
                    <th>Regional Manager</th>
                    <th>Branch Name</th>
                </tr>
                foreach (var item in Model.ListOfSDC)
                {
                    if ((new[] { "MINDANAO" }).Contains(item.ZoneCode))
                    {
                        <tr>
                            <td style="padding:1px;">@item.Region.ToUpper()</td>
                            <td style="padding:1px;width:30%;">@item.RM</td>
                            <td style="padding:1px;width:26%;">@(item.BranchCode.ToUpper() + " - " + item.BranchName.ToUpper())</td>
                        </tr>
                    }
                }
            }
            else if ((new[] { "0002MMD" }).Contains(mySession.s_costcenter))
            {
                <tr>
                    <th></th>
                    <th align="center" style="font-size:x-large;font-weight:bolder;">LUZON</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Region</th>
                    <th>Regional Manager</th>
                    <th>Branch Name</th>
                </tr>
                foreach (var item in Model.ListOfSDC)
                {
                    if ((new[] { "LUZON" }).Contains(item.ZoneCode))
                    {
                        <tr>
                            <td style="padding:1px;">@item.Region.ToUpper()</td>
                            <td style="padding:1px;width:30%;">@item.RM</td>
                            <td style="padding:1px;width:26%;">@(item.BranchCode.ToUpper() + " - " + item.BranchName.ToUpper())</td>
                        </tr>
                    }
                }
                <tr>
                    <th></th>
                    <th align="center" style="font-size:x-large;font-weight:bolder;">NCR</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Region</th>
                    <th>Regional Manager</th>
                    <th>Branch Name</th>
                </tr>
                foreach (var item in Model.ListOfSDC)
                {
                    if ((new[] { "NCR" }).Contains(item.ZoneCode))
                    {
                        <tr>
                            <td style="padding:1px;">@item.Region.ToUpper()</td>
                            <td style="padding:1px;width:30%;">@item.RM</td>
                            <td style="padding:1px;width:26%;">@(item.BranchCode.ToUpper() + " - " + item.BranchName.ToUpper())</td>
                        </tr>
                    }
                }
            }
        </thead>
       <tbody>
       </tbody>
    </table>
</div>