@model OnlineRequestSystem.Models.CreateReqModels
@{

    var mySession = (OnlineRequestSystem.Models.ORSession)Session["UserSession"];
    int? DM = Model.isDMApproval;
    int? LocalDiv = Model.isLocalDivManager;
    int? AM = Model.isAMApproval;
    int? RM = Model.isRMApproval;
    int? Div1 = Model.isDivManApproval;
    int? Div2 = Model.isDivManApproval2;
    int? Div3 = Model.isDivManApproval3;
    int? GM = Model.isGMApproval;
    int? Pres = Model.isPresidentApproval;

    int? LocalDivStat = Convert.ToInt32(Model.Sts_LocalDiv_isApproved);
    int? DMStat = Convert.ToInt32(Model.Sts_DM_isApproved);
    int? AMstat = Convert.ToInt32(Model.Sts_AM_isApproved);
    int? RMstat = Convert.ToInt32(Model.Sts_RM_isApproved);
    int? Div1stat = Convert.ToInt32(Model.Sts_Div1_isApproved);
    int? Div2stat = Convert.ToInt32(Model.Sts_Div2_isApproved);
    int? Div3stat = Convert.ToInt32(Model.Sts_Div3_isApproved);
    int? GMstat = Convert.ToInt32(Model.Sts_GM_isApproved);
    int? Presstat = Convert.ToInt32(Model.Sts_Pres_isApproved);
}

@if ((new[] { "0001MMD", "0002MMD", }).Contains(mySession.s_costcenter))
{
    if (Model.isDivRequest == 0) //for branch requests
    {
        if (AM == AMstat && RM == RMstat && Div1 == Div1stat && Div2 == Div2stat && Div3 == Div3stat && GM == GMstat && Pres == Presstat)
        {
            // if all required approvals are approved

            <div class="col-sm-12">
                <!-- MMD PROCESSED -->
                <div class="col-sm-2">
                    @if (Model.Sts_MMD_isProcessed == "1")
                    {
                        <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Processed_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_MMD_Processor</u>
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/PROCESS_PO.png" class="mmdButton" id="ProcessedPO" height="40" width="150" />
                        <br />
                    }
                </div>

                <!-- MMD is RECEIVED FROM SUPPLIER  -->
                <div class="col-sm-2">
                    @if (Model.Sts_MMD_isTransit == "1")
                    {
                        <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Transit_Date </u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>  
                        <u>@Model.Sts_MMD_Transitor</u>
                    }
                    else
                    {
                        if (Model.Sts_MMD_isProcessed == "1" && (Model.PO_Approved == "1" || Model.PO_Approved == "2"))
                        {
                            <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER.png" class="mmdButton" id="InTransit" height="40" width="150" />
                            <br />
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER.png" height="40" width="150" />
                            <br />
                        }
                    }
                </div>

                <!-- MMD is IN TRANSIT (SDC) -->
                <div class="col-sm-2">
                    @if (Model.Sts_MMD_isDelivered == "1")
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT_SDC_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Delivered_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_MMD_Deliverer</u>
                    }
                    else
                    {
                        if (Model.Sts_MMD_isProcessed == "1" && Model.Sts_MMD_isTransit == "1")
                        {
                            <img src="~/Content/images/mmd/IN_TRANSIT.png" class="mmdButton" id="ForDelivery" height="40" width="150" />
                            <br />
                        }
                        else
                        {
                            <img src="~/Content/images/mmd/IN_TRANSIT.png" height="40" width="150" />
                            <br />
                        }
                    }
                </div>

                @*------------------------------------------      FOR RM's SIDE *@

                <!-- RM IS RECEIVED -->
                <div class="col-sm-2">
                    @if (Model.Sts_RM_isReceived == "1")
                    {
                        <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_RM_Received_Date </u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_RM_Receiver</u>
                    }
                    else
                    {
                        if (Model.Sts_MMD_isDelivered == "1")
                        {
                            if (mySession.s_job_title == "REGIONAL MAN")
                            {
                                <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" class="mmdButton" id="Received" height="40" width="150" />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                            }
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                            <br />
                        }
                    }
                </div>

                <!-- RM IS TRANSIT -->
                <div class="col-sm-2">
                    @if (Model.Sts_RM_isTransit == "1")
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_RM_Transit_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_RM_Transitor</u>
                    }
                    else
                    {
                        if (Model.Sts_RM_isReceived == "1")
                        {
                            if (mySession.s_job_title == "REGIONAL MAN")
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" class="mmdButton" id="InTransitBranch" height="40" width="150" />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                            }
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                            <br />
                        }
                    }
                </div>

                @* ------------------------------------------    END OF RM's SIDE *@

                <div class="col-sm-6"></div>
                <br />
                <br />
            </div>
        }
        else
        {
            // required approvals were not met, no active buttons..
            <div class="col-sm-12">
                <!-- MMD IS PROCESSED -->
                <div class="col-sm-2">
                    @if (Model.Sts_MMD_isProcessed == "1")
                    {
                        <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Processed_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_MMD_Processor</u>
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/PROCESS_PO.png" height="40" width="150" />
                        <br />
                    }
                </div>

                <!-- MMD IS TRANSIT -->
                <div class="col-sm-2">

                    @if (Model.Sts_MMD_isTransit == "1")
                    {
                        <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Transit_Date </u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_MMD_Transitor</u>
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER.png" height="40" width="150" />
                        <br />
                    }
                </div>

                <!-- MMD IS DELIVERED -->
                <div class="col-sm-2">
                    @if (Model.Sts_MMD_isDelivered == "1")
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT_SDC_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_MMD_Delivered_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_MMD_Deliverer</u>
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT.png" height="40" width="150" />
                        <br />
                    }
                </div>

                @*------------------------------------------      FOR RM's SIDE *@

                <!-- RM RECEIVED -->
                <div class="col-sm-2">
                    @if (Model.Sts_RM_isReceived == "1")
                    {
                        <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_RM_Received_Date </u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_RM_Receiver</u>
                    }
                    else
                    {
                        if (Model.Sts_MMD_isDelivered == "1")
                        {
                            if (mySession.s_job_title == "REGIONAL MAN")
                            {
                                <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" class="mmdButton" id="Received" height="40" width="150" />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                            }
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                            <br />
                        }
                    }
                </div>

                <!-- RM IS TRANSIT -->
                <div class="col-sm-2">
                    @if (Model.Sts_RM_isTransit == "1")
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH_SUCCESS.png" height="40" width="150" />
                        <br />
                        <u>@Model.Sts_RM_Transit_Date</u>
                        <br />
                        <span class="glyphicon glyphicon-user"></span>
                        <u>@Model.Sts_RM_Transitor</u>
                    }
                    else
                    {
                        if (Model.Sts_RM_isReceived == "1")
                        {
                            if (mySession.s_job_title == "REGIONAL MAN")
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" class="mmdButton" id="InTransitBranch" height="40" width="150" />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                            }
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                            <br />
                        }

                    }
                </div>
                @* ------------------------------------------    END OF RM's SIDE *@
                <div class="col-sm-6"></div>
                <br />
                <br />
            </div>
        }
    }
    else //for division requests here ----------------------------------------
    {
        if (Model.forPresident == 1)
        {
            if (Model.Sts_DM_isApproved == "1" && Model.Sts_LocalDiv_isApproved == "1"
          && Div1 == Div1stat && Div2 == Div2stat && Div3 == Div3stat && Presstat == 1)
            {
                // if required approvals are approved.
                <div class="col-sm-12">
                    <!-- MMD PROCESSED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isProcessed == "1")
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Processed_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Processor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO.png" class="mmdButton" id="ProcessedPO" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD TRANSIT -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isTransit == "1")
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Transit_Date </u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Transitor</u>
                        }
                        else
                        {
                            if (Model.Sts_MMD_isProcessed == "1" && (Model.PO_Approved == "1" || Model.PO_Approved == "2"))
                            {
                                <img src="~/Content/images/MMD/Received_From_Supplier.png" class="mmdButton" id="InTransit" height="40" width="150" />
                                <br />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/Received_From_Supplier.png" height="40" width="150" />
                                <br />
                            }
                        }
                    </div>

                    <!-- MMD DELIVERED-->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isDelivered == "1")
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Delivered_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Deliverer</u>
                        }
                        else
                        {
                            if (Model.Sts_MMD_isProcessed == "1" && Model.Sts_MMD_isTransit == "1")
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" class="mmdButton" id="ForDelivery" height="40" width="150" />
                                <br />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" height="40" width="150" />
                                <br />
                            }
                        }
                    </div>
                    <div class="col-sm-6"></div>
                    <br />
                    <br />
                </div>
            }
            else
            {
                // required approvals were not met, no active buttons.
                <div class="col-sm-12">

                    <!-- MMD PROCESSED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isProcessed == "1")
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Processed_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Processor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD TRANSIT  -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isTransit == "1")
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Transit_Date </u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Transitor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD DELIVERED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isDelivered == "1")
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Delivered_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Deliverer</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <div class="col-sm-6"></div>
                    <br />
                    <br />
                </div>
            }
        }
        else
        {
            if (Model.Sts_DM_isApproved == "1" && Model.Sts_LocalDiv_isApproved == "1"
          && Div1 == Div1stat && Div2 == Div2stat && Div3 == Div3stat && Pres == Presstat)
            {
                // if required approvals are approved.
                <div class="col-sm-12">
                    <!-- MMD PROCESSED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isProcessed == "1")
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Processed_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Processor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO.png" class="mmdButton" id="ProcessedPO" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD TRANSIT -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isTransit == "1")
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Transit_Date </u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Transitor</u>
                        }
                        else
                        {
                            if (Model.Sts_MMD_isProcessed == "1" && (Model.PO_Approved == "1" || Model.PO_Approved == "2"))
                            {
                                <img src="~/Content/images/MMD/Received_From_Supplier.png" class="mmdButton" id="InTransit" height="40" width="150" />
                                <br />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/Received_From_Supplier.png" height="40" width="150" />
                                <br />
                            }
                        }
                    </div>

                    <!-- MMD DELIVERED-->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isDelivered == "1")
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Delivered_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Deliverer</u>
                        }
                        else
                        {
                            if (Model.Sts_MMD_isProcessed == "1" && Model.Sts_MMD_isTransit == "1")
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" class="mmdButton" id="ForDelivery" height="40" width="150" />
                                <br />
                            }
                            else
                            {
                                <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" height="40" width="150" />
                                <br />
                            }
                        }
                    </div>
                    <div class="col-sm-6"></div>
                    <br />
                    <br />
                </div>
            }
            else
            {
                // required approvals were not met, no active buttons.
                <div class="col-sm-12">

                    <!-- MMD PROCESSED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isProcessed == "1")
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Processed_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Processor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/PROCESS_PO.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD TRANSIT  -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isTransit == "1")
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Transit_Date </u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Transitor</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/Received_From_Supplier.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <!-- MMD DELIVERED -->
                    <div class="col-sm-2">
                        @if (Model.Sts_MMD_isDelivered == "1")
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION_SUCCESS.png" height="40" width="150" />
                            <br />
                            <u>@Model.Sts_MMD_Delivered_Date</u>
                            <br />
                            <span class="glyphicon glyphicon-user"></span>
                            <u>@Model.Sts_MMD_Deliverer</u>
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" height="40" width="150" />
                            <br />
                        }
                    </div>

                    <div class="col-sm-6"></div>
                    <br />
                    <br />
                </div>
            }
        }
    }
}
else // NOT MMD Users display status only , no active buttons
{
    <div class="col-sm-12">
        <div class="col-sm-2">
            @if (Model.Sts_MMD_isProcessed == "1")
            {
                <img src="~/Content/images/MMD/PROCESS_PO_SUCCESS.png" height="40" width="150" />
                <br />
                <u>@Model.Sts_MMD_Processed_Date</u>
                <br />
                <span class="glyphicon glyphicon-user"></span>
                <u>@Model.Sts_MMD_Processor</u>
            }
            else
            {
                <img src="~/Content/images/MMD/PROCESS_PO.png" height="40" width="150" />
                <br />
            }
        </div>
        <div class="col-sm-2">
            @if (Model.Sts_MMD_isTransit == "1")
            {
                <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER_SUCCESS.png" height="40" width="150" />
                <br />
                <u>@Model.Sts_MMD_Transit_Date </u>
                <br />
                <span class="glyphicon glyphicon-user"></span>
                <u>@Model.Sts_MMD_Transitor</u>
            }
            else
            {
                <img src="~/Content/images/MMD/RECEIVED_FROM_SUPPLIER.png" height="40" width="150" />
                <br />
            }
        </div>
        @if (Model.isDivRequest == 0)
        {
            <div class="col-sm-2">
                @if (Model.Sts_MMD_isDelivered == "1")
                {
                    <img src="~/Content/images/MMD/IN_TRANSIT_SDC_SUCCESS.png" height="40" width="150" />
                    <br />
                    <u>@Model.Sts_MMD_Delivered_Date</u>
                    <br />
                    <span class="glyphicon glyphicon-user"></span>
                    <u>@Model.Sts_MMD_Deliverer</u>
                }
                else
                {
                    <img src="~/Content/images/MMD/IN_TRANSIT.png" height="40" width="150" />
                    <br />
                }
            </div>
        }
        else
        {
            <div class="col-sm-2">
                @if (Model.Sts_MMD_isDelivered == "1")
                {
                    <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION_SUCCESS.png" height="40" width="150" />
                    <br />
                    <u>@Model.Sts_MMD_Delivered_Date</u>
                    <br />
                    <span class="glyphicon glyphicon-user"></span>
                    <u>@Model.Sts_MMD_Deliverer</u>
                }
                else
                {
                    <img src="~/Content/images/MMD/IN_TRANSIT_DIVISION.png" height="40" width="150" />
                    <br />
                }
            </div>
        }

        @if (Model.isDivRequest == 0)
        {
            @* FOR RM's SIDE *@
            <div class="col-sm-2">
                @if (Model.Sts_RM_isReceived == "1")
                {
                    <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD_SUCCESS.png" height="40" width="150" />
                    <br />
                    <u>@Model.Sts_RM_Received_Date </u>
                    <br />
                    <span class="glyphicon glyphicon-user"></span>
                    <u>@Model.Sts_RM_Receiver</u>
                }
                else
                {
                    if (Model.Sts_MMD_isDelivered == "1")
                    {
                        if (mySession.s_job_title == "REGIONAL MAN")
                        {
                            <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" class="mmdButton" id="Received" height="40" width="150" />
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                        }
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/RECEIVED_ITEM_FROM_MMD.png" height="40" width="150" />
                        <br />
                    }
                }
            </div>

            <div class="col-sm-2">
                @if (Model.Sts_RM_isTransit == "1")
                {
                    <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH_SUCCESS.png" height="40" width="150" />
                    <br />
                    <u>@Model.Sts_RM_Transit_Date</u>
                    <br />
                    <span class="glyphicon glyphicon-user"></span>
                    <u>@Model.Sts_RM_Transitor</u>
                }
                else
                {
                    if (Model.Sts_RM_isReceived == "1")
                    {
                        if (mySession.s_job_title == "REGIONAL MAN")
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" class="mmdButton" id="InTransitBranch" height="40" width="150" />
                        }
                        else
                        {
                            <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                        }
                    }
                    else
                    {
                        <img src="~/Content/images/MMD/IN_TRANSIT_BRANCH.png" height="40" width="150" />
                        <br />
                    }
                }
            </div>
        }

        @* END OF RM's SIDE *@

        <div class="col-sm-6"></div>
    </div>
}